.container{

    display: flex;
}
.imgContainer{
    position: relative;
    flex: 1;
    height: 500px;
}
.img{
    object-fit: contain;
}


.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

}
.formContainer input , .formContainer textarea{
   padding: 20px;
    border-radius:5px ;
    border: none;
    background-color: var(--bgSoft);
    color: var(--text);
}